src/tests
node_modules
.env
.vscode
!.vscode/launch.json
!.vscode/extensions.json
.editorconfig
*.heapprofile
*.cpuprofile
*.heapsnapshot
.DS_Store
logs
*.log
npm-debug.log*
.cache/
.history/
.hostory/
Thumbs.db
[Dd]esktop.ini
package-lock.json
src/commands/default/test*.js
src/config.js